In [1]:
import numpy as np
import pickle
import datetime
import pandas as pd

In [2]:
variable_mapping = dict()

# 平均动脉压(MAP)
variable_mapping['MAP']=[227023,227024,226765,226766]
# 心率(HR)
variable_mapping['HR']=[220045,226763,226764,227018,227019]
# 氧饱和度(SaO2)
variable_mapping['SaO2']=[224719,228232]
# 收缩压(SP)
variable_mapping['SP']=[226850,226852]
# 舒张压(DP)
variable_mapping['DP']=[226851,226853]
# 呼吸频率(RESP) 
variable_mapping['RESP']=[220210,226773,227050,227051,224690,224689,224688,226774]  
# 体温(Temp)
variable_mapping['Temp']=[224027,227054,227055,226777,226778,223761,223762]
# 格拉斯哥昏迷评分法(GCS) 格拉斯哥昏迷评分法是一种评估病人昏迷程度的方法.
variable_mapping['GCS']=[227011,227012,227013,227014,226755,226756,226757,226758]
# 动脉血氧分压(PaO2)  PO2 (Arterial)
variable_mapping['PaO2']=[220224]
# 吸入氧浓度(FIO2)
variable_mapping['FIO2']=[227010,226754]
# 白细胞(WBC)
variable_mapping['WBC']=[220546,226779,226780,227062,227063]
# 血红蛋白(HBG) 
variable_mapping['HGB']=[220228] 
# 血细胞比容(HCT)
variable_mapping['HCT']=[227017,220545,226540,226762,226761]
# 肌酸酐(Creatinine)
variable_mapping['Creatinine']=[227005,220615,226751,226752]
# 胆红素(Bilirubin) 
variable_mapping['Bilirubin']=[226998] 
# 胆红素直接(direct Bilirubin)
variable_mapping['DBIL']=[225651]
# 血小板(Platelets) 
variable_mapping['Platelets']=[225170]
# 国际标准化比率(INR) 
variable_mapping['INR']=[227467]
# 部分凝血酶原时间(PTT) 
variable_mapping['PTT']=[227466]
# 天冬氨酸氨基转移酶(AST) 
variable_mapping['AST']=[220587]
# 乳酸(Lactate) 
variable_mapping['Lactate']=[220967,220968,220955]
# 葡萄糖(GLU) 
variable_mapping['GLU']=[228388,220621,226537,227015,227016]
# 钾(Potassium) 
variable_mapping['k']=[227442,227464,226771,226772]
# 钙(Calcium)  
variable_mapping['Ca']=[225667,225625]
# 血尿素氮(BUN) 
variable_mapping['BUN']=[225624,227000,227001] 
# 镁(Magnesium)  
variable_mapping['Mg']=[220635]
# 氯化物(Chloride)
variable_mapping['CL']=[220602,226536]
# B型利钠肽(BNP) 
variable_mapping['BNP']=[227446]
# 肌钙蛋白(Troponin) 
variable_mapping['Troponin']=[227429]
# 纤维蛋白原(Fibrinogen) 
variable_mapping['Fibrinogen']=[227468]
# C-反应蛋白(CRP) 
variable_mapping['CRP']=[227444]
# 氨(Ammonia) 
variable_mapping['NH3']=[228391,228241,220580]
# 酸碱性(pH)
variable_mapping['pH']=[228243,220734,220274,223830,227037] 
# 动脉血二氧化碳分压(PCO2) 
variable_mapping['PCO2']=[227036]
# 碳酸氢根(HCO3) 
variable_mapping['HCO3']=[227443,226759,226760]
# 碱过量指数(Base Excess) 
variable_mapping['BE']=[224828]
# 年龄(Age) 
variable_mapping['Age']=[226738,226984,226980,226739]
# 机械通气(Mechanical Ventilation)  
variable_mapping['MV']=[223958,224752,224753,224837]

#变量映射
# 白蛋白血清（ALB）
variable_mapping['ALB'] = [227456]
# 丙氨酸氨基转移酶（ALT）
variable_mapping['ALT'] = [220644]
# 中性粒细胞（NEUT）
variable_mapping['NEUT'] = [225643]
# 血清总胆红素（TBIL）
variable_mapping['TBIL'] = [225690]   ## 228151 is diastolic - excluded in subsequent script.
# 凝血酶原时间（PT）
variable_mapping['PT'] = [227465]
# PO2
variable_mapping['PO2'] = [226770,227039,227516,220224]
# 呼吸速率RR
variable_mapping['Resp'] = [220210, 224688, 224689, 224690]
# 凝血酶 THR
variable_mapping['THR'] = [227469]
# CO2
variable_mapping['CO2'] = [220245]
# 钠 Sodium Na 
variable_mapping['Na'] = [220645, 226534, 226776]

#变量映射
variable_mapping['bp'] = [220050,220059,220179,224167,225309,227243,226850,226852]
variable_mapping['spo2'] = [220227,220277,226860,226861,226862,226863,226865,228232]
variable_mapping['airway'] = [223838,224832,224391,227810,223837,224829]
variable_mapping['pain'] = [223791,227881]
variable_mapping['urine'] = [227519,227059]
variable_mapping['peep'] = [220339,224699,224700]

In [ ]:
#外在的限制
physical_limit = dict()
physical_limit['Creatinine'] = (0.0, 50.0)
physical_limit['FIO2'] = (0.0, 100.0)
physical_limit['RESP'] = (0.0,100.0)
physical_limit['PO2'] = (0.0,500.0)
physical_limit['PCO2'] = (0.0,500.0)
physical_limit['Temp'] = (80.0, 120.0)
physical_limit['HR'] = (0.0, 250.0)
physical_limit['bp'] = (0.0, 500.0)
physical_limit['k'] = (0.0, 50.0)
physical_limit['Na'] = (0.0, 500.0)
physical_limit['HCO3'] = (0,100.0)
physical_limit['spo2'] = (10.0, 100.0)
physical_limit['BUN'] = (0.0,300.0)
physical_limit['GCS'] = (0.0, 16.0)
physical_limit['pain'] = (0.0, 10.0)
physical_limit['peep'] = (0.0, 50.0)
physical_limit['HGB'] = (0.0, 100.0)
physical_limit['airway'] = (None,None)

In [4]:

def _remove_anomalies(data, physical_limit,index, variable_dict, verbose=False):
    if verbose:
        print ("For example:")
        # removed = data[data['remove_col']==1].sample(0.001)
        removed = data[data['remove_col']==1].sample(frac=0.001, replace=True, random_state=1)
        # removed.print_rows(num_rows=20)
        num_rows = removed.iloc[0:20]
        print(num_rows)

    data = data.loc[index]
    # data = data.remove_column('remove_col')
    data=data.drop(['remove_col'], axis=1)
    print ("Anomalies removed.")
    return data

In [5]:
all_data = pd.read_pickle('begin_sepsis')
all_data

,C.SUBJECT_ID,C.HADM_ID,C.ICUSTAY_ID,D.ITEMID,C.CHARTTIME,C.VALUE,C.VALUENUM,C.VALUEUOM,II.INTIME,II.OUTTIME,...,hrs_bd,final_24hr,final_48hr,final_72hr,cohort,in_h_death,in_icu_death,readmit,outcome,akf
0,85,112077,291697,223761,2167-07-25 21:30:00,98.6,98.6,?F,2167-07-25 18:50:37,2167-07-27 18:37:35,...,45.126389,1,1,1,1,0,0,0,1,1
1,85,112077,291697,223761,2167-07-26 00:00:00,100.4,100.4,?F,2167-07-25 18:50:37,2167-07-27 18:37:35,...,42.626389,1,1,1,1,0,0,0,1,1
2,85,112077,291697,223761,2167-07-26 02:00:00,99.7,99.7,?F,2167-07-25 18:50:37,2167-07-27 18:37:35,...,40.626389,1,1,1,1,0,0,0,1,1
3,85,112077,291697,223761,2167-07-26 04:00:00,98.4,98.4,?F,2167-07-25 18:50:37,2167-07-27 18:37:35,...,38.626389,1,1,1,1,0,0,0,1,1
4,85,112077,291697,223761,2167-07-26 08:00:00,98.8,98.8,?F,2167-07-25 18:50:37,2167-07-27 18:37:35,...,34.626389,1,1,1,1,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
996904,83389,101581,208602,228232,2193-01-22 18:00:00,Needs O2 inhalation to maintain O2 sat > 90%,1.0,None,2193-01-20 00:42:25,2193-01-23 21:08:18,...,27.138333,0,0,1,1,0,0,0,1,1
996905,83389,101581,208602,228232,2193-01-22 18:30:00,Needs O2 inhalation to maintain O2 sat > 90%,1.0,None,2193-01-20 00:42:25,2193-01-23 21:08:18,...,26.638333,0,0,1,1,0,0,0,1,1
996906,85255,122106,219211,228232,2170-02-05 12:30:00,Needs O2 inhalation to maintain O2 sat > 90%,1.0,None,2170-02-05 12:47:32,2170-02-07 14:16:33,...,49.775833,1,1,1,1,0,0,0,1,1
996907,85255,122106,219211,228232,2170-02-05 13:00:00,Needs O2 inhalation to maintain O2 sat > 90%,1.0,None,2170-02-05 12:47:32,2170-02-07 14:16:33,...,49.275833,1,1,1,1,0,0,0,1,1
996908,87692,196705,288862,228232,2151-02-01 15:15:00,Able to maintain O2 sat >92% on RA,2.0,None,2151-01-22 23:01:33,2151-02-09 17:44:25,...,194.490278,0,0,0,1,0,0,0,1,1

In [6]:
#           去掉  ['D.ITEMID','C.VALUENUM'] 缺失值 所在的  行
all_data=all_data.dropna(axis=0, how="any", subset=['D.ITEMID','C.VALUENUM'], inplace=False)
all_data
# all_data=all1.dropna(axis=0, how="any", thresh=None, subset=['C.VALUENUM'], inplace=False)
# all_data.to_pickle('mimic_all_data1_1')

,C.SUBJECT_ID,C.HADM_ID,C.ICUSTAY_ID,D.ITEMID,C.CHARTTIME,C.VALUE,C.VALUENUM,C.VALUEUOM,II.INTIME,II.OUTTIME,...,hrs_bd,final_24hr,final_48hr,final_72hr,cohort,in_h_death,in_icu_death,readmit,outcome,akf
0,85,112077,291697,223761,2167-07-25 21:30:00,98.6,98.6,?F,2167-07-25 18:50:37,2167-07-27 18:37:35,...,45.126389,1,1,1,1,0,0,0,1,1
1,85,112077,291697,223761,2167-07-26 00:00:00,100.4,100.4,?F,2167-07-25 18:50:37,2167-07-27 18:37:35,...,42.626389,1,1,1,1,0,0,0,1,1
2,85,112077,291697,223761,2167-07-26 02:00:00,99.7,99.7,?F,2167-07-25 18:50:37,2167-07-27 18:37:35,...,40.626389,1,1,1,1,0,0,0,1,1
3,85,112077,291697,223761,2167-07-26 04:00:00,98.4,98.4,?F,2167-07-25 18:50:37,2167-07-27 18:37:35,...,38.626389,1,1,1,1,0,0,0,1,1
4,85,112077,291697,223761,2167-07-26 08:00:00,98.8,98.8,?F,2167-07-25 18:50:37,2167-07-27 18:37:35,...,34.626389,1,1,1,1,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
996904,83389,101581,208602,228232,2193-01-22 18:00:00,Needs O2 inhalation to maintain O2 sat > 90%,1.0,None,2193-01-20 00:42:25,2193-01-23 21:08:18,...,27.138333,0,0,1,1,0,0,0,1,1
996905,83389,101581,208602,228232,2193-01-22 18:30:00,Needs O2 inhalation to maintain O2 sat > 90%,1.0,None,2193-01-20 00:42:25,2193-01-23 21:08:18,...,26.638333,0,0,1,1,0,0,0,1,1
996906,85255,122106,219211,228232,2170-02-05 12:30:00,Needs O2 inhalation to maintain O2 sat > 90%,1.0,None,2170-02-05 12:47:32,2170-02-07 14:16:33,...,49.775833,1,1,1,1,0,0,0,1,1
996907,85255,122106,219211,228232,2170-02-05 13:00:00,Needs O2 inhalation to maintain O2 sat > 90%,1.0,None,2170-02-05 12:47:32,2170-02-07 14:16:33,...,49.275833,1,1,1,1,0,0,0,1,1
996908,87692,196705,288862,228232,2151-02-01 15:15:00,Able to maintain O2 sat >92% on RA,2.0,None,2151-01-22 23:01:33,2151-02-09 17:44:25,...,194.490278,0,0,0,1,0,0,0,1,1

In [7]:
all_data['D.ITEMID'].unique()

array([223761, 220045, 220210, 220277, 220050, 220228, 220546, 220602,
       220615, 220621, 220645, 225624, 227442, 227443, 227457, 220179,
       227465, 227466, 227467, 223835, 220224, 220235, 220339, 224688,
       224689, 224690, 227456, 220644, 225690, 220227, 225643, 227464,
       226062, 226063, 226534, 225309, 223762, 224700, 226537, 227516,
       220059, 227810, 220739, 223791, 223900, 223901, 228232])

In [9]:
def row3(x):
    get_var = lambda it: [variable for variable,items in variable_mapping.items() if it in items][0]
    all_itemids = [item for sublist in list(variable_mapping.values()) for item in sublist]
    var_id = {item: get_var(item) for item in all_itemids}

    v=all_data['D.ITEMID'][x]
    if v in [i for item in list(variable_mapping.values()) for i in item]:
        ac=float(all_data['C.VALUENUM'][x])
        # ad=list(variable_mapping.keys())[list(variable_mapping.values()).index(v)]
        ad=physical_limit[var_id[v]]
        if ac>float(ad[1]) or ac<float(ad[0]):
            return 1
        else:
            return 0

In [10]:

all_data['remove_col'] = all_data['D.ITEMID'].apply(lambda x: row3(x))
# all_data.to_pickle('all_data1_2')
# all_data = pd.read_pickle('all_data1_2')
all_data

E:\anaconda\envs\py37\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

,C.SUBJECT_ID,C.HADM_ID,C.ICUSTAY_ID,D.ITEMID,C.CHARTTIME,C.VALUE,C.VALUENUM,C.VALUEUOM,II.INTIME,II.OUTTIME,...,final_24hr,final_48hr,final_72hr,cohort,in_h_death,in_icu_death,readmit,outcome,akf,remove_col
0,85,112077,291697,223761,2167-07-25 21:30:00,98.6,98.6,?F,2167-07-25 18:50:37,2167-07-27 18:37:35,...,1,1,1,1,0,0,0,1,1,0
1,85,112077,291697,223761,2167-07-26 00:00:00,100.4,100.4,?F,2167-07-25 18:50:37,2167-07-27 18:37:35,...,1,1,1,1,0,0,0,1,1,0
2,85,112077,291697,223761,2167-07-26 02:00:00,99.7,99.7,?F,2167-07-25 18:50:37,2167-07-27 18:37:35,...,1,1,1,1,0,0,0,1,1,0
3,85,112077,291697,223761,2167-07-26 04:00:00,98.4,98.4,?F,2167-07-25 18:50:37,2167-07-27 18:37:35,...,1,1,1,1,0,0,0,1,1,0
4,85,112077,291697,223761,2167-07-26 08:00:00,98.8,98.8,?F,2167-07-25 18:50:37,2167-07-27 18:37:35,...,1,1,1,1,0,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
996904,83389,101581,208602,228232,2193-01-22 18:00:00,Needs O2 inhalation to maintain O2 sat > 90%,1.0,None,2193-01-20 00:42:25,2193-01-23 21:08:18,...,0,0,1,1,0,0,0,1,1,0
996905,83389,101581,208602,228232,2193-01-22 18:30:00,Needs O2 inhalation to maintain O2 sat > 90%,1.0,None,2193-01-20 00:42:25,2193-01-23 21:08:18,...,0,0,1,1,0,0,0,1,1,0
996906,85255,122106,219211,228232,2170-02-05 12:30:00,Needs O2 inhalation to maintain O2 sat > 90%,1.0,None,2170-02-05 12:47:32,2170-02-07 14:16:33,...,1,1,1,1,0,0,0,1,1,0
996907,85255,122106,219211,228232,2170-02-05 13:00:00,Needs O2 inhalation to maintain O2 sat > 90%,1.0,None,2170-02-05 12:47:32,2170-02-07 14:16:33,...,1,1,1,1,0,0,0,1,1,0
996908,87692,196705,288862,228232,2151-02-01 15:15:00,Able to maintain O2 sat >92% on RA,2.0,None,2151-01-22 23:01:33,2151-02-09 17:44:25,...,0,0,0,1,0,0,0,1,1,0

In [12]:
index=[]
for i in list(all_data.index):
    if float(all_data['remove_col'][i]) == 0:
        index.append(i)
len(index)
all_data = _remove_anomalies(all_data, physical_limit,index, variable_mapping)

Anomalies removed.

In [14]:
all_data

,C.SUBJECT_ID,C.HADM_ID,C.ICUSTAY_ID,D.ITEMID,C.CHARTTIME,C.VALUE,C.VALUENUM,C.VALUEUOM,II.INTIME,II.OUTTIME,...,hrs_bd,final_24hr,final_48hr,final_72hr,cohort,in_h_death,in_icu_death,readmit,outcome,akf
0,85,112077,291697,223761,2167-07-25 21:30:00,98.6,98.6,?F,2167-07-25 18:50:37,2167-07-27 18:37:35,...,45.126389,1,1,1,1,0,0,0,1,1
1,85,112077,291697,223761,2167-07-26 00:00:00,100.4,100.4,?F,2167-07-25 18:50:37,2167-07-27 18:37:35,...,42.626389,1,1,1,1,0,0,0,1,1
2,85,112077,291697,223761,2167-07-26 02:00:00,99.7,99.7,?F,2167-07-25 18:50:37,2167-07-27 18:37:35,...,40.626389,1,1,1,1,0,0,0,1,1
3,85,112077,291697,223761,2167-07-26 04:00:00,98.4,98.4,?F,2167-07-25 18:50:37,2167-07-27 18:37:35,...,38.626389,1,1,1,1,0,0,0,1,1
4,85,112077,291697,223761,2167-07-26 08:00:00,98.8,98.8,?F,2167-07-25 18:50:37,2167-07-27 18:37:35,...,34.626389,1,1,1,1,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
996904,83389,101581,208602,228232,2193-01-22 18:00:00,Needs O2 inhalation to maintain O2 sat > 90%,1.0,None,2193-01-20 00:42:25,2193-01-23 21:08:18,...,27.138333,0,0,1,1,0,0,0,1,1
996905,83389,101581,208602,228232,2193-01-22 18:30:00,Needs O2 inhalation to maintain O2 sat > 90%,1.0,None,2193-01-20 00:42:25,2193-01-23 21:08:18,...,26.638333,0,0,1,1,0,0,0,1,1
996906,85255,122106,219211,228232,2170-02-05 12:30:00,Needs O2 inhalation to maintain O2 sat > 90%,1.0,None,2170-02-05 12:47:32,2170-02-07 14:16:33,...,49.775833,1,1,1,1,0,0,0,1,1
996907,85255,122106,219211,228232,2170-02-05 13:00:00,Needs O2 inhalation to maintain O2 sat > 90%,1.0,None,2170-02-05 12:47:32,2170-02-07 14:16:33,...,49.275833,1,1,1,1,0,0,0,1,1
996908,87692,196705,288862,228232,2151-02-01 15:15:00,Able to maintain O2 sat >92% on RA,2.0,None,2151-01-22 23:01:33,2151-02-09 17:44:25,...,194.490278,0,0,0,1,0,0,0,1,1

In [15]:
# all_data.to_pickle('all_data1_3')
# all_data = pd.read_pickle('all_data1_3')

In [16]:
# get_var = lambda it: [variable for variable,items in variable_mapping.iteritems() if it in items][0]
get_var = lambda it: [variable for variable,items in variable_mapping.items() if it in items][0]

In [17]:
# all_data['VARIABLE'] = all_data['C.ITEMID'].apply(lambda itemid: get_var(itemid))
all_data['VARIABLE'] = all_data['D.ITEMID'].apply(lambda itemid: get_var(itemid))
all_data

,C.SUBJECT_ID,C.HADM_ID,C.ICUSTAY_ID,D.ITEMID,C.CHARTTIME,C.VALUE,C.VALUENUM,C.VALUEUOM,II.INTIME,II.OUTTIME,...,final_24hr,final_48hr,final_72hr,cohort,in_h_death,in_icu_death,readmit,outcome,akf,VARIABLE
0,85,112077,291697,223761,2167-07-25 21:30:00,98.6,98.6,?F,2167-07-25 18:50:37,2167-07-27 18:37:35,...,1,1,1,1,0,0,0,1,1,temp
1,85,112077,291697,223761,2167-07-26 00:00:00,100.4,100.4,?F,2167-07-25 18:50:37,2167-07-27 18:37:35,...,1,1,1,1,0,0,0,1,1,temp
2,85,112077,291697,223761,2167-07-26 02:00:00,99.7,99.7,?F,2167-07-25 18:50:37,2167-07-27 18:37:35,...,1,1,1,1,0,0,0,1,1,temp
3,85,112077,291697,223761,2167-07-26 04:00:00,98.4,98.4,?F,2167-07-25 18:50:37,2167-07-27 18:37:35,...,1,1,1,1,0,0,0,1,1,temp
4,85,112077,291697,223761,2167-07-26 08:00:00,98.8,98.8,?F,2167-07-25 18:50:37,2167-07-27 18:37:35,...,1,1,1,1,0,0,0,1,1,temp
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
996904,83389,101581,208602,228232,2193-01-22 18:00:00,Needs O2 inhalation to maintain O2 sat > 90%,1.0,None,2193-01-20 00:42:25,2193-01-23 21:08:18,...,0,0,1,1,0,0,0,1,1,spo2
996905,83389,101581,208602,228232,2193-01-22 18:30:00,Needs O2 inhalation to maintain O2 sat > 90%,1.0,None,2193-01-20 00:42:25,2193-01-23 21:08:18,...,0,0,1,1,0,0,0,1,1,spo2
996906,85255,122106,219211,228232,2170-02-05 12:30:00,Needs O2 inhalation to maintain O2 sat > 90%,1.0,None,2170-02-05 12:47:32,2170-02-07 14:16:33,...,1,1,1,1,0,0,0,1,1,spo2
996907,85255,122106,219211,228232,2170-02-05 13:00:00,Needs O2 inhalation to maintain O2 sat > 90%,1.0,None,2170-02-05 12:47:32,2170-02-07 14:16:33,...,1,1,1,1,0,0,0,1,1,spo2
996908,87692,196705,288862,228232,2151-02-01 15:15:00,Able to maintain O2 sat >92% on RA,2.0,None,2151-01-22 23:01:33,2151-02-09 17:44:25,...,0,0,0,1,0,0,0,1,1,spo2

In [19]:
# gcs_summed = all_data.filter_by(
#                         column_name='C.ITEMID',
#                         values=variable_mapping['gcs'])
gcs_all_data=all_data[all_data['D.ITEMID'].isin(variable_mapping['gcs'])]
gcs_all_data1=gcs_all_data.groupby(by=['C.ICUSTAY_ID', 'C.CHARTTIME'])

In [20]:
import numpy as np

In [21]:
all_data.columns

Index(['C.SUBJECT_ID', 'C.HADM_ID', 'C.ICUSTAY_ID', 'D.ITEMID', 'C.CHARTTIME',
       'C.VALUE', 'C.VALUENUM', 'C.VALUEUOM', 'II.INTIME', 'II.OUTTIME',
       'II.LOS', 'D.LABEL', 'D.UNITNAME', 'hrs_bd', 'final_24hr', 'final_48hr',
       'final_72hr', 'cohort', 'in_h_death', 'in_icu_death', 'readmit',
       'outcome', 'akf', 'VARIABLE'],
      dtype='object')

In [22]:
g1=gcs_all_data1.agg(
    VALUENUM = ('C.VALUENUM','sum'),
    ncpts = ('C.VALUENUM' , 'count'),
    hrs_bd =('hrs_bd',np.random.choice),
    HADM_ID=('C.HADM_ID',np.random.choice),
    SUBJECT_ID=('C.SUBJECT_ID',np.random.choice),
    ITEMID=('D.ITEMID','min'),
    VALUE=('C.VALUE',np.random.choice),
    VALUEUOM=('C.VALUEUOM',np.random.choice),
    LABEL=('D.LABEL',np.random.choice),
    UNITNAME=('D.UNITNAME',np.random.choice),
    INTIME=('II.INTIME',np.random.choice),
    LOS=('II.LOS',np.random.choice),
    OUTTIME=('II.OUTTIME',np.random.choice),
    final_72hr=('final_72hr',np.random.choice),
    final_48hr=('final_48hr',np.random.choice),
    final_24hr=('final_24hr',np.random.choice),
    cohort=('cohort',np.random.choice),
    in_h_death=('in_h_death',np.random.choice),
    in_icu_death=('in_icu_death',np.random.choice),
    readmit=('readmit',np.random.choice),
    outcome=('outcome',np.random.choice),
    VARIABLE=('VARIABLE',np.random.choice)
)
g1

                                  VALUENUM  ncpts     hrs_bd  HADM_ID  \
C.ICUSTAY_ID C.CHARTTIME
200001       2181-11-25 19:19:00      15.0      3  73.673611   152234
             2181-11-25 23:49:00      15.0      3  69.173611   152234
             2181-11-26 06:09:00      15.0      3  62.840278   152234
             2181-11-26 09:00:00      15.0      3  59.990278   152234
             2181-11-26 12:00:00      14.0      3  56.990278   152234
...                                    ...    ...        ...      ...
299856       2167-04-09 00:30:00      14.0      3  16.797500   131434
             2167-04-09 04:00:00      15.0      3  13.297500   131434
             2167-04-09 07:31:00      15.0      3   9.780833   131434
             2167-04-09 11:30:00      15.0      3   5.797500   131434
             2167-04-09 15:44:00      15.0      3   1.564167   131434

                                  SUBJECT_ID  ITEMID           VALUE VALUEUOM  \
C.ICUSTAY_ID C.CHARTTIME
200001       2181-11-25 19:19:00       55973  220739  Obeys Commands     None
             2181-11-25 23:49:00       55973  220739   Spontaneously     None
             2181-11-26 06:09:00       55973  220739   Spontaneously     None
             2181-11-26 09:00:00       55973  220739  Obeys Commands     None
             2181-11-26 12:00:00       55973  220739       To Speech     None
...                                      ...     ...             ...      ...
299856       2167-04-09 00:30:00       68791  220739        Oriented     None
             2167-04-09 04:00:00       68791  220739  Obeys Commands     None
             2167-04-09 07:31:00       68791  220739        Oriented     None
             2167-04-09 11:30:00       68791  220739   Spontaneously     None
             2167-04-09 15:44:00       68791  220739        Oriented     None

                                                  LABEL UNITNAME  ...  \
C.ICUSTAY_ID C.CHARTTIME                                          ...
200001       2181-11-25 19:19:00  GCS - Verbal Response     None  ...
             2181-11-25 23:49:00   GCS - Motor Response     None  ...
             2181-11-26 06:09:00   GCS - Motor Response     None  ...
             2181-11-26 09:00:00  GCS - Verbal Response     None  ...
             2181-11-26 12:00:00      GCS - Eye Opening     None  ...
...                                                 ...      ...  ...
299856       2167-04-09 00:30:00      GCS - Eye Opening     None  ...
             2167-04-09 04:00:00   GCS - Motor Response     None  ...
             2167-04-09 07:31:00      GCS - Eye Opening     None  ...
             2167-04-09 11:30:00  GCS - Verbal Response     None  ...
             2167-04-09 15:44:00      GCS - Eye Opening     None  ...

                                             OUTTIME  final_72hr final_48hr  \
C.ICUSTAY_ID C.CHARTTIME
200001       2181-11-25 19:19:00 2181-11-28 20:59:25           1          1
             2181-11-25 23:49:00 2181-11-28 20:59:25           1          1
             2181-11-26 06:09:00 2181-11-28 20:59:25           1          1
             2181-11-26 09:00:00 2181-11-28 20:59:25           1          1
             2181-11-26 12:00:00 2181-11-28 20:59:25           1          1
...                                              ...         ...        ...
299856       2167-04-09 00:30:00 2167-04-09 17:17:51           1          1
             2167-04-09 04:00:00 2167-04-09 17:17:51           1          1
             2167-04-09 07:31:00 2167-04-09 17:17:51           1          1
             2167-04-09 11:30:00 2167-04-09 17:17:51           1          1
             2167-04-09 15:44:00 2167-04-09 17:17:51           1          1

                                  final_24hr  cohort  in_h_death  \
C.ICUSTAY_ID C.CHARTTIME
200001       2181-11-25 19:19:00           1       1           0
             2181-11-25 23:49:00           1       1           0
             2181-11-26 06:09:00           1       1           0
             2181-11-26 09:00:00           1       1           0
             2181-11-26 12:00:00           1       1           0
...                                      ...     ...         ...
299856       2167-04-09 00:30:00           0       1           0
             2167-04-09 04:00:00           0       1           0
             2167-04-09 07:31:00           0       1           0
             2167-04-09 11:30:00           0       1           0
             2167-04-09 15:44:00           0       1           0

                                  in_icu_death  readmit  outcome  VARIABLE
C.ICUSTAY_ID C.CHARTTIME
200001       2181-11-25 19:19:00             0        0        1       gcs
             2181-11-25 23:49:00             0        0        1       gcs
             2181-11-26 06:09:00             0        0        1       gcs
             2181-11-26 09:00:00             0        0        1       gcs
             2181-11-26 12:00:00             0        0        1       gcs
...                                        ...      ...      ...       ...
299856       2167-04-09 00:30:00             0        0        1       gcs
             2167-04-09 04:00:00             0        0        1       gcs
             2167-04-09 07:31:00             0        0        1       gcs
             2167-04-09 11:30:00             0        0        1       gcs
             2167-04-09 15:44:00             0        0        1       gcs

[30458 rows x 22 columns]

In [23]:
g2 = g1.rename(columns=
          {'VALUENUM': 'C.VALUENUM',
           'HADM_ID' : 'C.HADM_ID',
           'SUBJECT_ID':'C.SUBJECT_ID',
           'ITEMID': 'C.ITEMID',
           'VALUE':'C.VALUE',
           'VALUEUOM':'C.VALUEUOM',
           'LABEL':'D.LABEL',
           'UNITNAME':'D.UNITNAME',
           'INTIME':'II.INTIME',
           'LOS':'II.LOS',
           'OUTTIME':'II.OUTTIME'
           })
g2

                                  C.VALUENUM  ncpts     hrs_bd  C.HADM_ID  \
C.ICUSTAY_ID C.CHARTTIME
200001       2181-11-25 19:19:00        15.0      3  73.673611     152234
             2181-11-25 23:49:00        15.0      3  69.173611     152234
             2181-11-26 06:09:00        15.0      3  62.840278     152234
             2181-11-26 09:00:00        15.0      3  59.990278     152234
             2181-11-26 12:00:00        14.0      3  56.990278     152234
...                                      ...    ...        ...        ...
299856       2167-04-09 00:30:00        14.0      3  16.797500     131434
             2167-04-09 04:00:00        15.0      3  13.297500     131434
             2167-04-09 07:31:00        15.0      3   9.780833     131434
             2167-04-09 11:30:00        15.0      3   5.797500     131434
             2167-04-09 15:44:00        15.0      3   1.564167     131434

                                  C.SUBJECT_ID  C.ITEMID         C.VALUE  \
C.ICUSTAY_ID C.CHARTTIME
200001       2181-11-25 19:19:00         55973    220739  Obeys Commands
             2181-11-25 23:49:00         55973    220739   Spontaneously
             2181-11-26 06:09:00         55973    220739   Spontaneously
             2181-11-26 09:00:00         55973    220739  Obeys Commands
             2181-11-26 12:00:00         55973    220739       To Speech
...                                        ...       ...             ...
299856       2167-04-09 00:30:00         68791    220739        Oriented
             2167-04-09 04:00:00         68791    220739  Obeys Commands
             2167-04-09 07:31:00         68791    220739        Oriented
             2167-04-09 11:30:00         68791    220739   Spontaneously
             2167-04-09 15:44:00         68791    220739        Oriented

                                 C.VALUEUOM                D.LABEL D.UNITNAME  \
C.ICUSTAY_ID C.CHARTTIME
200001       2181-11-25 19:19:00       None  GCS - Verbal Response       None
             2181-11-25 23:49:00       None   GCS - Motor Response       None
             2181-11-26 06:09:00       None   GCS - Motor Response       None
             2181-11-26 09:00:00       None  GCS - Verbal Response       None
             2181-11-26 12:00:00       None      GCS - Eye Opening       None
...                                     ...                    ...        ...
299856       2167-04-09 00:30:00       None      GCS - Eye Opening       None
             2167-04-09 04:00:00       None   GCS - Motor Response       None
             2167-04-09 07:31:00       None      GCS - Eye Opening       None
             2167-04-09 11:30:00       None  GCS - Verbal Response       None
             2167-04-09 15:44:00       None      GCS - Eye Opening       None

                                  ...          II.OUTTIME  final_72hr  \
C.ICUSTAY_ID C.CHARTTIME          ...
200001       2181-11-25 19:19:00  ... 2181-11-28 20:59:25           1
             2181-11-25 23:49:00  ... 2181-11-28 20:59:25           1
             2181-11-26 06:09:00  ... 2181-11-28 20:59:25           1
             2181-11-26 09:00:00  ... 2181-11-28 20:59:25           1
             2181-11-26 12:00:00  ... 2181-11-28 20:59:25           1
...                               ...                 ...         ...
299856       2167-04-09 00:30:00  ... 2167-04-09 17:17:51           1
             2167-04-09 04:00:00  ... 2167-04-09 17:17:51           1
             2167-04-09 07:31:00  ... 2167-04-09 17:17:51           1
             2167-04-09 11:30:00  ... 2167-04-09 17:17:51           1
             2167-04-09 15:44:00  ... 2167-04-09 17:17:51           1

                                 final_48hr  final_24hr  cohort  in_h_death  \
C.ICUSTAY_ID C.CHARTTIME
200001       2181-11-25 19:19:00          1           1       1           0
             2181-11-25 23:49:00          1           1       1           0
             2181-11-26 06:09:00          1           1       1           0
             2181-11-26 09:00:00          1           1       1           0
             2181-11-26 12:00:00          1           1       1           0
...                                     ...         ...     ...         ...
299856       2167-04-09 00:30:00          1           0       1           0
             2167-04-09 04:00:00          1           0       1           0
             2167-04-09 07:31:00          1           0       1           0
             2167-04-09 11:30:00          1           0       1           0
             2167-04-09 15:44:00          1           0       1           0

                                  in_icu_death  readmit  outcome  VARIABLE
C.ICUSTAY_ID C.CHARTTIME
200001       2181-11-25 19:19:00             0        0        1       gcs
             2181-11-25 23:49:00             0        0        1       gcs
             2181-11-26 06:09:00             0        0        1       gcs
             2181-11-26 09:00:00             0        0        1       gcs
             2181-11-26 12:00:00             0        0        1       gcs
...                                        ...      ...      ...       ...
299856       2167-04-09 00:30:00             0        0        1       gcs
             2167-04-09 04:00:00             0        0        1       gcs
             2167-04-09 07:31:00             0        0        1       gcs
             2167-04-09 11:30:00             0        0        1       gcs
             2167-04-09 15:44:00             0        0        1       gcs

[30458 rows x 22 columns]

In [24]:
gcs_all_data

,C.SUBJECT_ID,C.HADM_ID,C.ICUSTAY_ID,D.ITEMID,C.CHARTTIME,C.VALUE,C.VALUENUM,C.VALUEUOM,II.INTIME,II.OUTTIME,...,final_24hr,final_48hr,final_72hr,cohort,in_h_death,in_icu_death,readmit,outcome,akf,VARIABLE
830760,85,112077,291697,220739,2167-07-25 21:40:00,Spontaneously,4.0,None,2167-07-25 18:50:37,2167-07-27 18:37:35,...,1,1,1,1,0,0,0,1,1,gcs
830761,85,112077,291697,220739,2167-07-26 08:00:00,Spontaneously,4.0,None,2167-07-25 18:50:37,2167-07-27 18:37:35,...,1,1,1,1,0,0,0,1,1,gcs
830762,85,112077,291697,220739,2167-07-26 20:06:00,Spontaneously,4.0,None,2167-07-25 18:50:37,2167-07-27 18:37:35,...,0,1,1,1,0,0,0,1,1,gcs
830763,85,112077,291697,220739,2167-07-27 10:00:00,Spontaneously,4.0,None,2167-07-25 18:50:37,2167-07-27 18:37:35,...,0,1,1,1,0,0,0,1,1,gcs
830764,85,112077,291697,220739,2167-07-27 14:00:00,Spontaneously,4.0,None,2167-07-25 18:50:37,2167-07-27 18:37:35,...,0,1,1,1,0,0,0,1,1,gcs
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
940462,99561,143692,250735,223901,2146-11-05 00:24:00,Obeys Commands,6.0,None,2146-11-02 23:46:46,2146-11-05 17:40:32,...,0,0,1,1,0,0,0,1,1,gcs
940463,99561,143692,250735,223901,2146-11-05 04:32:00,Obeys Commands,6.0,None,2146-11-02 23:46:46,2146-11-05 17:40:32,...,0,0,1,1,0,0,0,1,1,gcs
940464,99561,143692,250735,223901,2146-11-05 08:02:00,Obeys Commands,6.0,None,2146-11-02 23:46:46,2146-11-05 17:40:32,...,0,0,1,1,0,0,0,1,1,gcs
940465,99561,143692,250735,223901,2146-11-05 12:00:00,Obeys Commands,6.0,None,2146-11-02 23:46:46,2146-11-05 17:40:32,...,0,0,1,1,0,0,0,1,1,gcs
940466,99561,143692,250735,223901,2146-11-05 16:00:00,Obeys Commands,6.0,None,2146-11-02 23:46:46,2146-11-05 17:40:32,...,0,0,1,1,0,0,0,1,1,gcs

In [25]:
list(g2['C.ITEMID'].unique())

[220739, 223900, 223901]

In [26]:
gcs_summed =g2

In [27]:
_frac_incomplete = sum(gcs_summed['ncpts']<3)/float(len(gcs_summed))
print ("%.4f of gcs measures not complete." %_frac_incomplete)
gcs_summed1 = gcs_summed[gcs_summed['ncpts']==3]
gcs_summed1

0.0145 of gcs measures not complete.

                                  C.VALUENUM  ncpts     hrs_bd  C.HADM_ID  \
C.ICUSTAY_ID C.CHARTTIME
200001       2181-11-25 19:19:00        15.0      3  73.673611     152234
             2181-11-25 23:49:00        15.0      3  69.173611     152234
             2181-11-26 06:09:00        15.0      3  62.840278     152234
             2181-11-26 09:00:00        15.0      3  59.990278     152234
             2181-11-26 12:00:00        14.0      3  56.990278     152234
...                                      ...    ...        ...        ...
299856       2167-04-09 00:30:00        14.0      3  16.797500     131434
             2167-04-09 04:00:00        15.0      3  13.297500     131434
             2167-04-09 07:31:00        15.0      3   9.780833     131434
             2167-04-09 11:30:00        15.0      3   5.797500     131434
             2167-04-09 15:44:00        15.0      3   1.564167     131434

                                  C.SUBJECT_ID  C.ITEMID         C.VALUE  \
C.ICUSTAY_ID C.CHARTTIME
200001       2181-11-25 19:19:00         55973    220739  Obeys Commands
             2181-11-25 23:49:00         55973    220739   Spontaneously
             2181-11-26 06:09:00         55973    220739   Spontaneously
             2181-11-26 09:00:00         55973    220739  Obeys Commands
             2181-11-26 12:00:00         55973    220739       To Speech
...                                        ...       ...             ...
299856       2167-04-09 00:30:00         68791    220739        Oriented
             2167-04-09 04:00:00         68791    220739  Obeys Commands
             2167-04-09 07:31:00         68791    220739        Oriented
             2167-04-09 11:30:00         68791    220739   Spontaneously
             2167-04-09 15:44:00         68791    220739        Oriented

                                 C.VALUEUOM                D.LABEL D.UNITNAME  \
C.ICUSTAY_ID C.CHARTTIME
200001       2181-11-25 19:19:00       None  GCS - Verbal Response       None
             2181-11-25 23:49:00       None   GCS - Motor Response       None
             2181-11-26 06:09:00       None   GCS - Motor Response       None
             2181-11-26 09:00:00       None  GCS - Verbal Response       None
             2181-11-26 12:00:00       None      GCS - Eye Opening       None
...                                     ...                    ...        ...
299856       2167-04-09 00:30:00       None      GCS - Eye Opening       None
             2167-04-09 04:00:00       None   GCS - Motor Response       None
             2167-04-09 07:31:00       None      GCS - Eye Opening       None
             2167-04-09 11:30:00       None  GCS - Verbal Response       None
             2167-04-09 15:44:00       None      GCS - Eye Opening       None

                                  ...          II.OUTTIME  final_72hr  \
C.ICUSTAY_ID C.CHARTTIME          ...
200001       2181-11-25 19:19:00  ... 2181-11-28 20:59:25           1
             2181-11-25 23:49:00  ... 2181-11-28 20:59:25           1
             2181-11-26 06:09:00  ... 2181-11-28 20:59:25           1
             2181-11-26 09:00:00  ... 2181-11-28 20:59:25           1
             2181-11-26 12:00:00  ... 2181-11-28 20:59:25           1
...                               ...                 ...         ...
299856       2167-04-09 00:30:00  ... 2167-04-09 17:17:51           1
             2167-04-09 04:00:00  ... 2167-04-09 17:17:51           1
             2167-04-09 07:31:00  ... 2167-04-09 17:17:51           1
             2167-04-09 11:30:00  ... 2167-04-09 17:17:51           1
             2167-04-09 15:44:00  ... 2167-04-09 17:17:51           1

                                 final_48hr  final_24hr  cohort  in_h_death  \
C.ICUSTAY_ID C.CHARTTIME
200001       2181-11-25 19:19:00          1           1       1           0
             2181-11-25 23:49:00          1           1       1           0
             2181-11-26 06:09:00          1           1       1           0
             2181-11-26 09:00:00          1           1       1           0
             2181-11-26 12:00:00          1           1       1           0
...                                     ...         ...     ...         ...
299856       2167-04-09 00:30:00          1           0       1           0
             2167-04-09 04:00:00          1           0       1           0
             2167-04-09 07:31:00          1           0       1           0
             2167-04-09 11:30:00          1           0       1           0
             2167-04-09 15:44:00          1           0       1           0

                                  in_icu_death  readmit  outcome  VARIABLE
C.ICUSTAY_ID C.CHARTTIME
200001       2181-11-25 19:19:00             0        0        1       gcs
             2181-11-25 23:49:00             0        0        1       gcs
             2181-11-26 06:09:00             0        0        1       gcs
             2181-11-26 09:00:00             0        0        1       gcs
             2181-11-26 12:00:00             0        0        1       gcs
...                                        ...      ...      ...       ...
299856       2167-04-09 00:30:00             0        0        1       gcs
             2167-04-09 04:00:00             0        0        1       gcs
             2167-04-09 07:31:00             0        0        1       gcs
             2167-04-09 11:30:00             0        0        1       gcs
             2167-04-09 15:44:00             0        0        1       gcs

[30017 rows x 22 columns]

In [28]:
gcs_summed=gcs_summed1

In [29]:
# all_data = all_data.filter_by(column_name='C.ITEMID', values=variable_mapping['gcs'], exclude=True)
all_data = all_data[~all_data['D.ITEMID'].isin(variable_mapping['gcs'])]
# gcs_summed = gcs_summed.remove_column('ncpts')
gcs_summed=gcs_summed.drop(['ncpts'], axis=1)
all_data = all_data.append(gcs_summed)

In [31]:
units_to_convert = ['creatinine', 'temp', 'po2', 'pco2', 'bun']

conv_crea = lambda crea: 88.42 * float(crea)  
conv_temp = lambda temp: (float(temp)-32)/1.8 
conv_bg = lambda gas: 0.1333 * float(gas)   
conv_bun = lambda bun: 0.3571 * float(bun)  
def _convert(var, val):
    new_val = None
    if var=='creatinine':
        new_val = conv_crea(val)
    elif var=='temp':
        if val==None:
            new_val=None
        else:
            new_val = conv_temp(val)
    elif var=='po2' or var=='pco2':
        new_val = conv_bg(val)
    elif var=='bun':
        new_val = conv_bun(val)
    return new_val

In [32]:
all_data['C.VALUENUM'] = all_data.apply(lambda row: _convert(row['VARIABLE'], row['C.VALUENUM'])
if (row['VARIABLE'] in units_to_convert and row['C.VALUENUM']!=None) else row['C.VALUENUM'] ,axis=1)
# all_data.materialize()

In [34]:
gcs_summed=all_data[all_data['D.ITEMID'].isin(variable_mapping['airway'])]
gcs_summed1=gcs_summed.groupby(by=['C.ICUSTAY_ID', 'C.CHARTTIME'],as_index=False)

In [35]:
g3=gcs_summed1.agg(
    hrs_bd =('hrs_bd',np.random.choice),
    HADM_ID=('C.HADM_ID',np.random.choice),
    SUBJECT_ID=('C.SUBJECT_ID',np.random.choice),
    ITEMID=('D.ITEMID','min'),
    VALUE=('C.VALUE',np.random.choice),
    VALUEUOM=('C.VALUEUOM',np.random.choice),
    LABEL=('D.LABEL',np.random.choice),
    UNITNAME=('D.UNITNAME',np.random.choice),
    INTIME=('II.INTIME',np.random.choice),
    LOS=('II.LOS',np.random.choice),
    OUTTIME=('II.OUTTIME',np.random.choice),
    final_72hr=('final_72hr',np.random.choice),
    final_48hr=('final_48hr',np.random.choice),
    final_24hr=('final_24hr',np.random.choice),
    cohort=('cohort',np.random.choice),
    in_h_death=('in_h_death',np.random.choice),
    in_icu_death=('in_icu_death',np.random.choice),
    readmit=('readmit',np.random.choice),
    outcome=('outcome',np.random.choice),
    VARIABLE=('VARIABLE',np.random.choice)
)
g3

,C.ICUSTAY_ID,C.CHARTTIME,hrs_bd,HADM_ID,SUBJECT_ID,ITEMID,VALUE,VALUEUOM,LABEL,UNITNAME,...,OUTTIME,final_72hr,final_48hr,final_24hr,cohort,in_h_death,in_icu_death,readmit,outcome,VARIABLE
0,200694.0,2145-01-27 16:46:00,163.815000,144152,59347,227810.0,1,None,ETT Re-taped,None,...,2145-02-03 12:34:54,1,1,0,1,0,0,0,1,airway
1,201263.0,2105-05-28 23:00:00,67.371389,168044,96240,227810.0,1,None,ETT Re-taped,None,...,2105-05-31 18:22:17,1,1,1,1,0,0,1,0,airway
2,202148.0,2132-02-24 23:18:00,402.989722,161783,66474,227810.0,1,None,ETT Re-taped,None,...,2132-03-12 18:17:23,1,1,1,1,1,0,2,0,airway
3,202148.0,2132-02-27 02:00:00,352.289722,161783,66474,227810.0,1,None,ETT Re-taped,None,...,2132-03-12 18:17:23,1,0,0,1,1,0,2,0,airway
4,202148.0,2132-03-09 22:00:00,68.289722,161783,66474,227810.0,1,None,ETT Re-taped,None,...,2132-03-12 18:17:23,0,0,0,1,1,0,2,0,airway
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
291,298164.0,2146-04-22 01:30:00,111.460833,170239,82938,227810.0,1,None,ETT Re-taped,None,...,2146-04-26 16:57:39,0,0,0,1,0,0,0,1,airway
292,298275.0,2160-08-17 02:00:00,207.075278,146371,89797,227810.0,1,None,ETT Re-taped,None,...,2160-08-25 17:04:31,1,1,1,1,0,0,0,1,airway
293,298744.0,2157-11-28 17:59:00,47.074722,191467,18054,227810.0,1,None,ETT Re-taped,None,...,2157-11-30 17:03:29,0,0,0,1,0,0,0,1,airway
294,298898.0,2175-10-05 18:00:00,72.769444,131262,52307,227810.0,1,None,ETT Re-taped,None,...,2175-10-08 18:46:10,1,1,1,1,0,0,0,1,airway
295,299802.0,2154-09-08 21:00:00,50.448889,142122,63039,227810.0,1,None,ETT Re-taped,None,...,2154-09-10 23:26:56,1,1,0,1,0,0,0,1,airway

In [36]:
g4 = g3.rename(columns=
          {
           'HADM_ID' : 'C.HADM_ID',
           'SUBJECT_ID':'C.SUBJECT_ID',
           'ITEMID': 'C.ITEMID',
           'VALUE':'C.VALUE',
           'VALUEUOM':'C.VALUEUOM',
           'LABEL':'D.LABEL',
           'UNITNAME':'D.UNITNAME',
           'INTIME':'II.INTIME',
           'LOS':'II.LOS',
           'OUTTIME':'II.OUTTIME'
           })
g4

,C.ICUSTAY_ID,C.CHARTTIME,hrs_bd,C.HADM_ID,C.SUBJECT_ID,C.ITEMID,C.VALUE,C.VALUEUOM,D.LABEL,D.UNITNAME,...,II.OUTTIME,final_72hr,final_48hr,final_24hr,cohort,in_h_death,in_icu_death,readmit,outcome,VARIABLE
0,200694.0,2145-01-27 16:46:00,163.815000,144152,59347,227810.0,1,None,ETT Re-taped,None,...,2145-02-03 12:34:54,1,1,0,1,0,0,0,1,airway
1,201263.0,2105-05-28 23:00:00,67.371389,168044,96240,227810.0,1,None,ETT Re-taped,None,...,2105-05-31 18:22:17,1,1,1,1,0,0,1,0,airway
2,202148.0,2132-02-24 23:18:00,402.989722,161783,66474,227810.0,1,None,ETT Re-taped,None,...,2132-03-12 18:17:23,1,1,1,1,1,0,2,0,airway
3,202148.0,2132-02-27 02:00:00,352.289722,161783,66474,227810.0,1,None,ETT Re-taped,None,...,2132-03-12 18:17:23,1,0,0,1,1,0,2,0,airway
4,202148.0,2132-03-09 22:00:00,68.289722,161783,66474,227810.0,1,None,ETT Re-taped,None,...,2132-03-12 18:17:23,0,0,0,1,1,0,2,0,airway
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
291,298164.0,2146-04-22 01:30:00,111.460833,170239,82938,227810.0,1,None,ETT Re-taped,None,...,2146-04-26 16:57:39,0,0,0,1,0,0,0,1,airway
292,298275.0,2160-08-17 02:00:00,207.075278,146371,89797,227810.0,1,None,ETT Re-taped,None,...,2160-08-25 17:04:31,1,1,1,1,0,0,0,1,airway
293,298744.0,2157-11-28 17:59:00,47.074722,191467,18054,227810.0,1,None,ETT Re-taped,None,...,2157-11-30 17:03:29,0,0,0,1,0,0,0,1,airway
294,298898.0,2175-10-05 18:00:00,72.769444,131262,52307,227810.0,1,None,ETT Re-taped,None,...,2175-10-08 18:46:10,1,1,1,1,0,0,0,1,airway
295,299802.0,2154-09-08 21:00:00,50.448889,142122,63039,227810.0,1,None,ETT Re-taped,None,...,2154-09-10 23:26:56,1,1,0,1,0,0,0,1,airway

In [37]:
airway_reduced = g4

In [38]:
airway_reduced['C.VALUENUM'] = airway_reduced['C.ICUSTAY_ID'].apply(lambda x: 1.0)

In [39]:
# all_data = all_data.filter_by(column_name='C.ITEMID', values=variable_mapping['peep'], exclude=True)
all_data=all_data[~all_data['C.ITEMID'].isin(variable_mapping['peep'])]
# all_data = all_data.filter_by(column_name='C.ITEMID', values=variable_mapping['airway'], exclude=True)
all_data=all_data[~all_data['C.ITEMID'].isin(variable_mapping['airway'])]

In [40]:
airway_reduced['C.VALUENUM'] = airway_reduced['C.VALUENUM'].apply(lambda x: 1.0)

In [41]:
all_data = all_data.append(airway_reduced)
# all_data.save('mimic_all_data_CLEANED')
all_data.to_pickle('mimic_all_data_CLEANED')

In [42]:
%load_ext sql
%sql mysql://root:980409LKzx@localhost/mimic3
%sql use mimic3

 * mysql://root:***@localhost/mimic3
0 rows affected.

[]

In [43]:
callouts = %sql SELECT * FROM CALLOUT
callouts = callouts.DataFrame()

 * mysql://root:***@localhost/mimic3
34499 rows affected.

In [50]:
callouts

,ROW_ID,SUBJECT_ID,HADM_ID,SUBMIT_WARDID,SUBMIT_CAREUNIT,CURR_WARDID,CURR_CAREUNIT,CALLOUT_WARDID,CALLOUT_SERVICE,REQUEST_TELE,...,CALLOUT_STATUS,CALLOUT_OUTCOME,DISCHARGE_WARDID,ACKNOWLEDGE_STATUS,CREATETIME,UPDATETIME,ACKNOWLEDGETIME,OUTCOMETIME,FIRSTRESERVATIONTIME,CURRENTRESERVATIONTIME
0,402,854,175684,52,None,29,MICU,1,MED,0,...,Inactive,Discharged,29,Acknowledged,2146-10-05 13:16:55,2146-10-05 13:16:55,2146-10-05 13:24:00,2146-10-05 18:55:22,2146-10-05 15:27:44,None
1,403,864,138624,15,None,55,CSRU,55,CSURG,0,...,Inactive,Discharged,55,Acknowledged,2114-11-28 08:31:39,2114-11-28 09:42:08,2114-11-28 09:43:08,2114-11-28 12:10:02,None,None
2,404,864,138624,12,None,55,CSRU,55,CSURG,1,...,Inactive,Discharged,55,Acknowledged,2114-11-30 10:24:25,2114-12-01 09:06:18,2114-12-01 12:26:05,2114-12-01 21:55:05,None,None
3,405,867,184298,7,None,17,CCU,17,CCU,1,...,Inactive,Discharged,17,Acknowledged,2136-12-29 08:45:42,2136-12-29 10:17:16,2136-12-29 10:33:51,2136-12-29 18:10:02,None,None
4,157,306,167129,57,None,3,SICU,44,NSURG,1,...,Inactive,Discharged,3,Acknowledged,2199-09-18 11:47:47,2199-09-18 11:47:47,2199-09-18 11:58:33,2199-09-18 15:10:02,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34494,32674,94046,199742,23,None,54,MICU,1,MED,1,...,Inactive,Discharged,54,Acknowledged,2112-11-01 11:13:04,2112-11-01 11:13:04,2112-11-01 11:16:14,2112-11-01 19:42:07,2112-11-01 16:12:28,None
34495,32675,94049,135809,23,None,45,MICU,1,MED,0,...,Inactive,Discharged,45,Acknowledged,2112-10-09 14:12:09,2112-10-09 14:12:09,2112-10-09 14:23:52,2112-10-09 17:40:05,None,None
34496,32676,94050,173013,23,None,45,MICU,1,MED,0,...,Inactive,Discharged,45,Acknowledged,2165-10-07 10:18:42,2165-10-07 10:18:42,2165-10-07 10:20:31,2165-10-07 19:10:11,2165-10-07 17:10:10,None
34497,32677,94056,172374,50,None,45,MICU,1,MED,0,...,Inactive,Discharged,45,Acknowledged,2199-10-30 15:35:30,2199-10-30 15:35:30,2199-10-30 16:16:09,2199-10-30 22:10:04,None,None
34498,32678,94057,113695,23,MICU,23,MICU,1,MED,0,...,Inactive,Cancelled,None,Acknowledged,2198-05-31 13:07:50,2198-05-31 18:01:14,2198-05-31 13:11:56,2198-05-31 18:01:14,None,None

In [44]:
_stays = all_data.groupby(by='C.ICUSTAY_ID',as_index=False)

In [45]:
_stays = _stays.agg(
    HADM_ID=('C.HADM_ID',np.random.choice),
    IN=('II.INTIME',np.random.choice),
    OUT=('II.OUTTIME',np.random.choice)
)

In [51]:
_stays

      C.ICUSTAY_ID  HADM_ID                  IN                 OUT
0         200001.0   152234 2181-11-25 19:06:12 2181-11-28 20:59:25
1         200011.0   121562 2188-08-06 01:39:24 2188-08-07 16:50:53
2         200055.0   147080 2179-03-17 09:59:19 2179-03-18 17:05:52
3         200150.0   176858 2148-06-26 21:41:54 2148-06-28 16:38:23
4         200234.0   138095 2143-08-30 12:40:57 2143-08-31 17:41:17
...            ...      ...                 ...                 ...
1254      299560.0   155097 2198-02-08 12:56:40 2198-02-11 16:22:51
1255      299616.0   101979 2183-01-22 02:57:18 2183-01-25 00:50:01
1256      299791.0   107543 2112-08-17 16:16:34 2112-08-21 22:17:45
1257      299802.0   142122 2154-09-07 20:56:00 2154-09-10 23:26:56
1258      299856.0   131434 2167-04-08 00:23:19 2167-04-09 17:17:51

[1259 rows x 4 columns]

In [56]:

_stays['HADM_ID'] = _stays['HADM_ID'].astype(int)
callouts['HADM_ID'] = callouts['HADM_ID'].astype(int)

_stays_join1=pd.merge(_stays, callouts, how='inner', on='HADM_ID')

In [57]:
_stays_join =_stays_join1

In [59]:
_stays_join

,C.ICUSTAY_ID,HADM_ID,IN,OUT,ROW_ID,SUBJECT_ID,SUBMIT_WARDID,SUBMIT_CAREUNIT,CURR_WARDID,CURR_CAREUNIT,...,CALLOUT_STATUS,CALLOUT_OUTCOME,DISCHARGE_WARDID,ACKNOWLEDGE_STATUS,CREATETIME,UPDATETIME,ACKNOWLEDGETIME,OUTCOMETIME,FIRSTRESERVATIONTIME,CURRENTRESERVATIONTIME
0,200001.0,152234,2181-11-25 19:06:12,2181-11-28 20:59:25,20939,55973,23,None,54,MICU,...,Inactive,Discharged,54,Acknowledged,2181-11-28 11:16:36,2181-11-28 11:16:36,2181-11-28 11:34:05,2181-11-28 21:10:25,2181-11-28 18:10:26,None
1,200055.0,147080,2179-03-17 09:59:19,2179-03-18 17:05:52,9756,25225,57,None,45,SICU,...,Inactive,Discharged,45,Acknowledged,2179-03-18 09:01:23,2179-03-18 09:01:23,2179-03-18 09:41:43,2179-03-18 17:25:09,2179-03-18 09:55:09,None
2,200150.0,176858,2148-06-26 21:41:54,2148-06-28 16:38:23,27210,76327,50,None,54,MICU,...,Inactive,Discharged,54,Acknowledged,2148-06-28 08:01:32,2148-06-28 08:01:32,2148-06-28 08:12:09,2148-06-28 16:55:06,2148-06-28 15:10:06,None
3,200234.0,138095,2143-08-30 12:40:57,2143-08-31 17:41:17,18248,47746,52,None,24,MICU,...,Inactive,Discharged,24,Acknowledged,2143-08-31 11:21:11,2143-08-31 11:21:11,2143-08-31 11:37:33,2143-08-31 17:59:33,2143-08-31 14:01:23,None
4,200240.0,142755,2147-10-25 14:51:35,2147-10-29 15:22:21,27195,76327,23,None,54,MICU,...,Inactive,Discharged,54,Acknowledged,2147-10-26 10:29:29,2147-10-26 10:29:29,2147-10-26 11:02:27,2147-10-26 15:10:04,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1498,299486.0,114804,2172-01-04 17:35:54,2172-01-07 03:47:29,17507,45344,52,None,18,MICU,...,Inactive,Discharged,18,Acknowledged,2172-01-06 17:25:45,2172-01-06 21:53:46,2172-01-06 21:57:42,2172-01-07 04:13:18,2172-01-06 21:26:09,None
1499,299560.0,155097,2198-02-08 12:56:40,2198-02-11 16:22:51,16557,42211,33,None,3,SICU,...,Inactive,Discharged,3,Acknowledged,2198-02-11 09:59:05,2198-02-11 14:49:39,2198-02-11 14:49:41,2198-02-11 16:42:33,2198-02-11 14:55:59,None
1500,299802.0,142122,2154-09-07 20:56:00,2154-09-10 23:26:56,23143,63039,50,None,17,MICU,...,Inactive,Discharged,17,Acknowledged,2154-09-10 13:22:24,2154-09-10 13:22:24,2154-09-10 14:04:20,2154-09-10 23:40:04,2154-09-10 15:55:06,None
1501,299802.0,142122,2154-09-07 20:56:00,2154-09-10 23:26:56,23144,63039,7,None,17,CCU,...,Inactive,Discharged,17,Acknowledged,2154-09-14 08:18:10,2154-09-14 08:18:10,2154-09-14 10:27:55,2154-09-14 15:25:05,2154-09-14 13:55:03,None
1502,299856.0,131434,2167-04-08 00:23:19,2167-04-09 17:17:51,24917,68791,23,None,4,MICU,...,Inactive,Discharged,4,Acknowledged,2167-04-09 11:06:48,2167-04-09 14:23:55,2167-04-09 14:46:04,2167-04-09 17:43:05,2167-04-09 14:27:45,None

In [63]:
_stays_join.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1503 entries, 0 to 1502
Data columns (total 28 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   C.ICUSTAY_ID            1503 non-null   float64
 1   HADM_ID                 1503 non-null   int32
 2   IN                      1503 non-null   datetime64[ns]
 3   OUT                     1503 non-null   datetime64[ns]
 4   ROW_ID                  1503 non-null   object
 5   SUBJECT_ID              1503 non-null   object
 6   SUBMIT_WARDID           1503 non-null   object
 7   SUBMIT_CAREUNIT         205 non-null    object
 8   CURR_WARDID             1503 non-null   object
 9   CURR_CAREUNIT           1503 non-null   object
 10  CALLOUT_WARDID          1503 non-null   object
 11  CALLOUT_SERVICE         1503 non-null   object
 12  REQUEST_TELE            1503 non-null   object
 13  REQUEST_RESP            1503 non-null   object
 14  REQUEST_CDIFF           1503 non-null   object
 15  REQUEST_MRSA            1503 non-null   object
 16  REQUEST_VRE             1503 non-null   object
 17  CALLOUT_STATUS          1503 non-null   object
 18  CALLOUT_OUTCOME         1503 non-null   object
 19  DISCHARGE_WARDID        1307 non-null   object
 20  ACKNOWLEDGE_STATUS      1503 non-null   object
 21  CREATETIME              1503 non-null   object
 22  UPDATETIME              1503 non-null   object
 23  ACKNOWLEDGETIME         1470 non-null   object
 24  OUTCOMETIME             1503 non-null   object
 25  FIRSTRESERVATIONTIME    1121 non-null   object
 26  CURRENTRESERVATIONTIME  79 non-null     object
 27  RFD                     1503 non-null   object
dtypes: datetime64[ns](2), float64(1), int32(1), object(24)
memory usage: 334.7+ KB

In [64]:
_stays_join['RFD'] = pd.to_datetime(_stays_join['CREATETIME'])
_stays_join['callout_match'] = _stays_join.apply(lambda row: 1 if (row['RFD']>=row['IN'] and row['RFD']<=row['OUT']) else 0 ,axis=1)

In [65]:
counts = _stays_join[(_stays_join['callout_match']==1) * (_stays_join['CALLOUT_OUTCOME']=='Discharged')]

In [66]:
counts=counts.groupby(by='C.ICUSTAY_ID')

In [67]:
counts = counts.agg(
    count=('RFD','count')
)
print ("There are %d stays with more than one successful CALLOUT (i.e. transfers)." %sum(counts['count']>1))

There are 27 stays with more than one successful CALLOUT (i.e. transfers).

In [68]:
# remove_stays = counts[counts['count']>1]['C.ICUSTAY_ID']
remove_stays = list(counts[counts['count']>1].index)
_stays_join = _stays_join[(_stays_join['callout_match']==1) * (_stays_join['CALLOUT_OUTCOME']=='Discharged')]
# _stays_join = _stays_join.filter_by(column_name='C.ICUSTAY_ID', values=remove_stays, exclude=True)
_stays_join = _stays_join[~_stays_join['C.ICUSTAY_ID'].isin(remove_stays)]
# _stays_join

In [69]:
# counts[counts['count']>1]
# list(counts[counts['count']>1].index)

In [70]:

print( "Of the original %d icu stays," %len(all_data['C.ICUSTAY_ID'].unique()))
print( "%d remain (have successful single callouts)" %len(_stays_join['C.ICUSTAY_ID'].unique()))

Of the original 1260 icu stays,
1001 remain (have successful single callouts)

In [71]:
_stays_join = _stays_join[['C.ICUSTAY_ID', 'RFD']]
# all_data = all_data.join(_stays_join, how='inner', on='C.ICUSTAY_ID')
all_data = pd.merge(all_data,_stays_join, how='inner', on='C.ICUSTAY_ID')

In [72]:
all_data

,C.SUBJECT_ID,C.HADM_ID,C.ICUSTAY_ID,D.ITEMID,C.CHARTTIME,C.VALUE,C.VALUENUM,C.VALUEUOM,II.INTIME,II.OUTTIME,...,final_72hr,cohort,in_h_death,in_icu_death,readmit,outcome,akf,VARIABLE,C.ITEMID,RFD
0,85,112077,291697.0,223761.0,2167-07-25 21:30:00,98.6,37.000000,?F,2167-07-25 18:50:37,2167-07-27 18:37:35,...,1,1,0,0,0,1,1.0,temp,NaN,2167-07-27 15:19:52
1,85,112077,291697.0,223761.0,2167-07-26 00:00:00,100.4,38.000000,?F,2167-07-25 18:50:37,2167-07-27 18:37:35,...,1,1,0,0,0,1,1.0,temp,NaN,2167-07-27 15:19:52
2,85,112077,291697.0,223761.0,2167-07-26 02:00:00,99.7,37.611111,?F,2167-07-25 18:50:37,2167-07-27 18:37:35,...,1,1,0,0,0,1,1.0,temp,NaN,2167-07-27 15:19:52
3,85,112077,291697.0,223761.0,2167-07-26 04:00:00,98.4,36.888889,?F,2167-07-25 18:50:37,2167-07-27 18:37:35,...,1,1,0,0,0,1,1.0,temp,NaN,2167-07-27 15:19:52
4,85,112077,291697.0,223761.0,2167-07-26 08:00:00,98.8,37.111111,?F,2167-07-25 18:50:37,2167-07-27 18:37:35,...,1,1,0,0,0,1,1.0,temp,NaN,2167-07-27 15:19:52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
498340,28109,150689,279849.0,227466.0,2154-07-09 23:35:00,27.8,27.800000,sec,2154-07-09 19:08:13,2154-07-10 13:01:23,...,1,1,0,0,0,1,1.0,PTT,NaN,2154-07-10 08:31:57
498341,28109,150689,279849.0,227467.0,2154-07-09 23:35:00,1.3,1.300000,None,2154-07-09 19:08:13,2154-07-10 13:01:23,...,1,1,0,0,0,1,1.0,INR,NaN,2154-07-10 08:31:57
498342,28109,150689,279849.0,227467.0,2154-07-10 04:15:00,1.3,1.300000,None,2154-07-09 19:08:13,2154-07-10 13:01:23,...,1,1,0,0,0,1,1.0,INR,NaN,2154-07-10 08:31:57
498343,28109,150689,279849.0,220644.0,2154-07-09 23:35:00,13,13.000000,IU/L,2154-07-09 19:08:13,2154-07-10 13:01:23,...,1,1,0,0,0,1,1.0,ALT,NaN,2154-07-10 08:31:57
498344,28109,150689,279849.0,225690.0,2154-07-09 23:35:00,.6,0.600000,mg/dL,2154-07-09 19:08:13,2154-07-10 13:01:23,...,1,1,0,0,0,1,1.0,TBIL,NaN,2154-07-10 08:31:57

In [73]:
all_data['hrs_bRFD'] = all_data.apply(lambda row: (row['RFD'] - row['C.CHARTTIME']).total_seconds() / float(60**2) ,axis=1)
all_data.to_pickle('mimic_all_data_CLEANED')

In [74]:
all_data.to_pickle('mimic_all_data_CLEANED1')